In [9]:
# salary prediction
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pickle

In [29]:
# read data from CSv
ExcelData=pd.read_csv("Churn_Modelling.csv")
#Remove RowNumber,CustomerID and surname 
data=ExcelData.drop(columns=["RowNumber","CustomerId","Surname"],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [19]:
# Label for Gender and onehotencoding for Geography

In [30]:
label_encoder=LabelEncoder()
data['Gender']=label_encoder.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [31]:
# one hot encoding
onehot_Encoder=OneHotEncoder()
encoded_columns=onehot_Encoder.fit_transform(data[['Geography']])
encoded_df=pd.DataFrame(encoded_columns.toarray(),columns=onehot_Encoder.get_feature_names_out(["Geography"]))
data = pd.concat([data, encoded_df], axis=1)
data = data.drop(columns=["Geography"])
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [33]:
# split the data into dependent and independent features
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [34]:
# Train test split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [36]:
# scale the features using StandardScalar
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [37]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_Encoder, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [38]:
#model creation.. 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [39]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),  # hidden layer
    Dense(1) #output layer
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()
model.save('model.h5')

e:\GENAI\SalaryPrediction\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [41]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

#set up TensorBoard
log_dir="regressionlogs/fit/"
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [42]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [43]:
#Training the model
model.fit(x_train,y_train,
          validation_data=(x_test,y_test),
          epochs=100,
          callbacks=[early_stopping_callback,tensorboard_callback]
          )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100383.5781 - mae: 100383.5781 - val_loss: 98541.6406 - val_mae: 98541.6406
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 99692.2812 - mae: 99692.2812 - val_loss: 97097.1406 - val_mae: 97097.1406
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97086.4062 - mae: 97086.4062 - val_loss: 93218.8125 - val_mae: 93218.8125
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 91833.5078 - mae: 91833.5078 - val_loss: 86654.3594 - val_mae: 86654.3594
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 84083.9531 - mae: 84083.9531 - val_loss: 78133.3750 - val_mae: 78133.3750
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 74998.6094 - mae: 74998.6094 - val_loss: 69287.9531 - val_mae: 69287.9531
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 66195.7109 - mae: 66195.7109 - val_loss: 61592.8945 - val_mae: 61592.8945
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59158.8633 - mae: 59158.8633 - val_loss: 56098.0469 - val_mae: 56098.0469
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 54538.8203 - mae: 54538.8203 - val_loss: 52843.6445 - val_mae: 52843.6445
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51990.6680 - mae: 51990.6680 - val_loss: 51445.0000 - val_mae: 51445.0000
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50913.3203 - mae: 50913.3203 - val_loss: 51037.2773 - val_mae: 51037.2773
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50535.5508 - mae: 50535.5508 - val_loss: 50907.9102 - val_mae: 50907.9102
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50390.7656 - mae: 50390.7656 - val_loss: 50846.4766 - val_mae: 50846.4766
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50311.2695 - mae: 50311.2695 - val_loss: 50802.4023 - val_mae: 50802.4023
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50246.9648 - mae: 50246.9648 - val_loss: 50767.4922 - val_mae: 50767.4922
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50192.8047 - mae: 50192.8047 - val_loss: 50730.3438 - val_mae: 50730.3438
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50148.2617 - mae: 50148.2617 - val_loss: 50696.8398 - val_mae: 50696.8398
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50108.0703 - mae: 50108.0703 - val_loss: 50671.0156 - val_mae: 50671.0156
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50071.8516 - mae: 50071.8516 - val_loss: 50637.7969 - val_mae: 50637.7969
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50035.9219 - mae: 50035.9219 - val_loss: 50621.3008 - val_mae: 50621.3008
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50005.4102 - mae: 50005.4102 - val_loss: 50593.3984 - val_mae: 50593.3984
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49976.2422 - mae: 49976.2422 - val_loss: 50561.5938 - val_mae: 50561.5938
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49945.6367 - mae: 49945.6367 - val_loss: 50547.0898 - val_mae: 50547.0898
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49918.3633 - mae: 49918.3633 - val_loss: 50529.6016 - val_mae: 50529.6016
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49897.3320 - mae: 49897.3320 - val_loss: 50506.3047 - val_mae: 50506.3047
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49872.8086 - mae: 49872.8086 - val_loss: 50495.6133 - val_mae: 50495.6133
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49848.5742 - mae: 49848.5742 - val_loss: 50492.7734 - val_mae: 50492.7734
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49827.1367 - mae: 49827.1367 - val_loss: 50477.6133 - val_mae: 50477.6133
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49804.9688 - mae: 49804.9688 - val_loss: 50455.7812 - val_mae: 50455.7812
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49787.1211 - mae: 49787.1211 - val_loss: 50452.1445 - val_mae: 50452.1445
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49774.1211 - mae: 49774.1211 - val_loss: 50440.0391 - val_mae: 50440.0391
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49752.8359 - mae: 49752.8359 - val_loss: 50426.8828 - val_mae: 50426.8828
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49735.4766 - mae: 49735.4766 - val_loss: 50418.8555 - val_mae: 50418.8555
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49724.9336 - mae: 49724.9336 - val_loss: 50419.2578 - val_mae: 50419.2578
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49706.2930 - mae: 49706.2930 - val_loss: 50411.9648 - val_mae: 50411.9648
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49694.7812 - mae: 49694.7812 - val_loss: 50413.4297 - val_mae: 50413.4297
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49679.5781 - mae: 49679.5781 - val_loss: 50400.4023 - val_mae: 50400.4023
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49665.9688 - mae: 49665.9688 - val_loss: 50384.1484 - val_mae: 50384.1484
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49650.1445 - mae: 49650.1445 - val_loss: 50393.8008 - val_mae: 50393.8008
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49636.1250 - mae: 49636.1250 - val_loss: 50377.0703 - val_mae: 50377.0703
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49624.6562 - mae: 49624.6562 - val_loss: 50385.7695 - val_mae: 50385.7695
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49615.9102 - mae: 49615.9102 - val_loss: 50383.6719 - val_mae: 50383.6719
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49606.3398 - mae: 49606.3398 - val_loss: 50373.5898 - val_mae: 50373.5898
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49592.9258 - mae: 49592.9258 - val_loss: 50386.6484 - val_mae: 50386.6484
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49582.1523 - mae: 49582.1523 - val_loss: 50391.7109 - val_mae: 50391.7109
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49575.1875 - mae: 49575.1875 - val_loss: 50396.8906 - val_mae: 50396.8906
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49564.3906 - mae: 49564.3906 - val_loss: 50383.0898 - val_mae: 50383.0898
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49553.3086 - mae: 49553.3086 - val_loss: 50386.0898 - val_mae: 50386.0898
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49545.8555 - mae: 49545.8555 - val_loss: 50390.6250 - val_mae: 50390.6250
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49545.1797 - mae: 49545.1797 - val_loss: 50411.3242 - val_mae: 50411.3242
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49534.0078 - mae: 49534.0078 - val_loss: 50400.8086 - val_mae: 50400.8086
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49525.1680 - mae: 49525.1680 - val_loss: 50392.9922 - val_mae: 50392.9922
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49516.3750 - mae: 49516.3750 - val_loss: 50384.8711 - val_mae: 50384.8711

In [44]:
%load_ext tensorboard

In [45]:
%tensorboard --logdir regressionlogs/fit/